input{
  position: relative;
  left: 760px;
  font-size: 25px;
  margin-bottom: 35px;
  border-radius: 20px;
  border: 3px solid gray;
  background-color: black;
  color: white;
  text-shadow: 0 0 10px white;
}

div{

    width: 500px;
    height: 500px;
}

.btn{
  position: relative;
  left: 860px;
  top: 60px;
  font-size: 30px ;
  cursor: pointer;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid rgb(255, 0, 255);
  background-color: rgb(212, 0, 255);
  color: white;
  box-shadow: 0 0 20px rgb(255, 0, 255);
  transition: 0.5s;
  margin-bottom: 20px;
}

.btn:hover{
  position: relative;
  left: 860px;
  top: 60px;
  font-size: 30px ;
  cursor: pointer;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid rgb(0, 238, 255);
  background-color: rgb(0, 183, 255);
  color: white;
  box-shadow: 0 0 20px rgb(0, 225, 255);
}

.h1{
  position: relative;
  left: 773px;
  top: -12px;
  height: 2px;
  font-size: 18px;
}
